<!-- banner start -->
<!-- ================ -->
<div class="banner clearfix">
	<!-- slideshow start -->
	<!-- ================ -->
	<div class="slideshow">
		
		<!-- slider revolution start -->
		<!-- ================ -->
		<div class="slider-banner-container">
			<div class="slider-banner-fullscreen">
				<ul class="slides">
					<!-- slide 1 start -->
					<!-- ================ -->
					<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Welcome to Hydratec Inc.">
						
						<!-- main image -->
						<%= image_tag("slider-fullscreen2-slide-1.jpg", alt: "slidebg2", data:{data_bgposition: "center top", data_bgrepeat: "no-repeat", data_bgfit: "cover"}) %>
						<!-- Transparent Background -->
						<div class="tp-caption dark-translucent-bg"
							data-x="center"
							data-y="bottom"
							data-speed="500"
							data-easing="easeOutQuad"
							data-start="0">
						</div>
						<!-- LAYER NR. 1 -->
						<div class="tp-caption sft fadeout text-center large_white"
							data-x="center"
							data-y="70"
							data-speed="500"
							data-easing="easeOutQuad"
							data-start="1000"
							data-end="10000"><span class="logo-font">Welcome to</span> <br>the NEW Hydratec Inc. Website!
						</div>
						<!-- LAYER NR. 2 -->
						<div class="tp-caption ZoomIn fadeout text-center large_white tp-resizeme"
							data-x="center"
							data-y="170"
							data-speed="500"
							data-easing="easeOutQuad"
							data-start="1300"
							data-end="10000"><div class="separator light"></div>
						</div>
						<!-- LAYER NR. 3 -->
						<div class="tp-caption sfb fadeout medium_white text-center"
							data-x="center"
							data-y="210"
							data-speed="500"
							data-easing="easeOutQuad"
							data-start="1000"
							data-end="10000"
							data-endspeed="600">The Primary source of<br> dependable and innovative software<br> for the fire sprinkler industry<br> since 1972.
						</div>
						<!-- LAYER NR. 4 -->
						<div class="tp-caption fade fadeout"
							data-x="center"
							data-y="bottom"
							data-voffset="100"
							data-speed="500"
							data-easing="easeOutQuad"
							data-start="2000"
							data-end="10000"
							data-endspeed="200">
							<a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="fa fa-chevron-down"></i><i class="fa fa-chevron-down"></i><i class="fa fa-chevron-down"></i></a>
						</div>
					</li>
					<!-- slide 1 end -->
					<!-- slide 2 start -->
					<!-- ================ -->
					<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Software">
						
						<!-- main image -->
						<%= image_tag("slider-fullscreen2-slide-2.jpg", alt: "slidebg1", data:{data_bgposition: "center top", data_bgrepeat: "no-repeat", data_bgfit: "cover"}) %>
						
						<!-- Transparent Background -->
						<div class="tp-caption dark-translucent-bg"
							data-x="center"
							data-y="bottom"
							data-speed="800"
							data-easing="easeOutQuad"
							data-start="0">
						</div>
						<!-- LAYER NR. 1 -->
						<div class="tp-caption sfr stl xlarge_white"
							data-x="center"
							data-y="70"
							data-speed="200"
							data-easing="easeOutQuad"
							data-start="1000"
							data-end="2500"
							data-splitin="chars"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							data-splitout="chars">HydraCAD
						</div>
						<!-- LAYER NR. 2 -->
						<div class="tp-caption sfl str xlarge_white"
							data-x="center"
							data-y="70"
							data-speed="200"
							data-easing="easeOutQuad"
							data-start="2500"
							data-end="4000"
							data-splitin="chars"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							data-splitout="chars">HydraCALC
						</div>
						<!-- LAYER NR. 3 -->
						<div class="tp-caption sfr stt xlarge_white"
							data-x="center"
							data-y="70"
							data-speed="200"
							data-easing="easeOutQuad"
							data-start="4000"
							data-end="6000"
							data-splitin="chars"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							data-splitout="chars"
							data-endspeed="400">HydraLIST
						</div>
						<!-- LAYER NR. 4 -->
						<div class="tp-caption sft fadeout text-center large_white"
							data-x="center"
							data-y="70"
							data-speed="500"
							data-easing="easeOutQuad"
							data-start="6400"
							data-end="10000"><span class="logo-font">Fire Sprinkler Industry Software</span> <br> Reliable and Dependable!
						</div>
						<!-- LAYER NR. 5 -->
						<div class="tp-caption sfr fadeout"
							data-x="center"
							data-y="210"
							data-hoffset="-232"
							data-speed="500"
							data-easing="easeOutQuad"
							data-start="1000"
							data-end="5500"><%= link_to image_tag("home/HydraCAD_logo.jpg", class: "img-circle", alt: "Hydratec Inc."), hydratec_software_path %>
						</div>
						<!-- LAYER NR. 6 -->
						<div class="tp-caption sfl fadeout"
							data-x="center"
							data-y="210"
							data-speed="500"
							data-easing="easeOutQuad"
							data-start="2500"
							data-end="5500"><%= link_to image_tag("home/HydraCALC_logo.jpg", class: "img-circle", alt: "Hydratec Inc."), hydratec_software_path %>
						</div>
						<!-- LAYER NR. 7 -->
						<div class="tp-caption sfr fadeout"
							data-x="center"
							data-y="210"
							data-hoffset="232"
							data-speed="500"
							data-easing="easeOutQuad"
							data-start="4000"
							data-end="5500"><%= link_to image_tag("home/HydraLIST_logo.jpg", class: "img-circle", alt: "Hydratec Inc."), hydratec_software_path %>
						</div>
						<!-- LAYER NR. 8 -->
						<div class="tp-caption ZoomIn fadeout text-center large_white tp-resizeme"
							data-x="center"
							data-y="170"
							data-speed="500"
							data-easing="easeOutQuad"
							data-start="6400"
							data-end="10000"><div class="separator light"></div>
						</div>
						<!-- LAYER NR. 9 -->
						<div class="tp-caption sft fadeout medium_white text-center"
							data-x="center"
							data-y="210"
							data-speed="500"
							data-easing="easeOutQuad"
							data-start="5800"
							data-end="10000"
							data-endspeed="600">For more information on our software, <br> explore the software navigation tab at the top of the page.
						</div>
						<!-- LAYER NR. 10 -->
						<div class="tp-caption fade fadeout"
							data-x="center"
							data-y="bottom"
							data-voffset="100"
							data-speed="500"
							data-easing="easeOutQuad"
							data-start="2000"
							data-end="10000"
							data-endspeed="200">
							<a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="fa fa-chevron-down"></i><i class="fa fa-chevron-down"></i><i class="fa fa-chevron-down"></i></a>
						</div>
					</li>
					
					<!-- slide 2 end -->
				</ul>
				<div class="tp-bannertimer"></div>
			</div>
		</div>
		<!-- slider revolution end -->
	</div>
	<!-- slideshow end -->
</div>
<!-- banner end -->
<div id="page-start"></div>
<section class="main-container">
	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="style-2 mb-20 shadow bordered light-gray-bg news col-md-5">
				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title"><i class="fa fa-newspaper-o"></i> Latest News</h1>
				<div class="separator-2"></div>
				<!-- page-title end -->
				<p class="lead">The latest news will be posted here:</p>
				<div class="row grid-space-12">
					<% @news.each do |news| %>
						<p class="small margin-clear f-left post-date"><em> <%= news.topic %> - <%= news.created_at.strftime("%A, %b %d") %></em></p>
						<div class="clearfix"></div>
					<div class="col-sm-12">
						<div class="image-box style-2 mb-20 shadow bordered text-center">
							<div class="body">
								<h3><%= news.header %></h3>
								<div class="separator"></div>
								<p><%= markdown news.content %></p>
								<a href="<%= news %>" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
							</div>
						</div>
					</div>
					<% end %>
				</div>
			</div>
			<!-- Latest News end -->
			
			<div class="style-2 mb-20shadow bordered light-gray-bg news col-md-5">
				<!-- Useful Links start -->
				<!-- ================ -->
				<h1 class="page-title"><i class="fa fa-link"></i> Useful Links</h1>
				<div class="separator-2"></div>
				<!-- page-title end -->
				<p class="lead">The latest links:</p>
				<div class="row grid-space-12">
				<% @links.each do |links| %>
					<p class="small margin-clear f-left post-date"><em> <%= links.topic %> - <%= links.created_at.strftime("%A, %b %d") %></em></p>
					<div class="col-sm-12">
						<div class="image-box style-2 mb-20 shadow bordered text-center">
							<div class="body">
								<h3><%= links.header %></h3>
								<div class="separator"></div>
								<p><%= links.content %></p>
								<a href="" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
							</div>
						</div>
					</div>
					<% end %>
				</div>
			</div>
			<!-- main end -->
		</div>
	</div>
</section>
<!-- main-container end -->
<!-- section start -->
<!-- ================ -->
<section class="section clearfix">
	<div class="container">
		<h3>Hydratec is a proud <strong>member</strong> of the following <strong>Organizations</strong></h3>
		<div class="separator-2"></div>
		<div class="row grid-space-10">
			<div class="col-sm-6 col-md-4">
				<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
					<div class="overlay-container">
						<%= image_tag("NFPA_logo.png", alt: "NFPA") %>
					</div>
					<div class="body">
						<h3>National Fire Protection Association </h3>
						<div class="separator"></div>
						<p class="member-text">The leading information and knowledge resource on fire, electrical and related hazards.</p>
						<a href="http://www.nfpa.org/" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
					<div class="overlay-container">
						<%= image_tag("AFSA_logo.png", alt: "AFSA") %>
					</div>
					<div class="body">
						<h3>The American Fire Sprinkler Association </h3>
						<div class="separator"></div>
						<p class="member-text">Non-profit, international association representing merit shop fire sprinkler contractors, dedicated to the educational advancement of its members and promotion of the use of automatic fire sprinkler systems.</p>
						<a href="www.sprinklernet.org" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
					</div>
				</div>
			</div>
			<div class="clearfix visible-sm"></div>
			<div class="col-sm-6 col-md-4">
				<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
					<div class="overlay-container">
						<%= image_tag("CMEICI_logo.png", alt: "CMEICI") %>
					</div>
					<div class="body">
						<h4>Corporation of Master Contractors and facilities against fire</h4>
						<div class="separator"></div>
						<p class="member-text">Represents fire protection contractors in Québec, in order to inform them of legal requirements, determine, maintain and, where applicable, improve professional standards, as well as regulate the professional conduct of its members and promote their common interests.</p>
						<a href="www.cmeici.com/Web/Page.aspx?Id=8" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- section end -->