<%= provide(:title, "Services") %>
<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container border-clear light-gray-bg padding-bottom-clear">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title text-center" id="estimating">Our Services</h1>
							<!-- page-title end -->
							
							<div class="image-box space-top style-4">
								<div class="row grid-space-0">
									<div class="col-md-6">
										<div class="overlay-container">
											<%= image_tag("services/estimating.jpg", alt: "Hydraulic Estimating") %>
											<div class="overlay-to-top">
												<p class="small margin-clear"><em>Estimating <br> Hydraulic Design Estimate Services</em></p>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="body">
											<!-- <div class="pv-30 visible-lg"></div> -->
											<h3>Hydraulic Estimating</h3>
											<div class="separator-2"></div>
											<h6 class="margin-clear">Key Benefits:</h6>
											<ul>
												<li>Fast</li>
												<li>Accurate</li>
												<li>Economical</li>
											</ul>
											<h6 class="margin-clear">Hydraulic Design Estimate Service</h6>
											<p class="with-tab">This service gives a sprinkler contractor a preliminary hydraulic calculation. The information provided by this service will help the contractor to determine the appropriate price of the sprinkler installation for bidding purposes.
											</p>
											<p class="with-tab">After being supplied with the building description, water supply, sprinkler requirements, insurance requirements and any other pertinent information, our designers will provide estimated sprinkler head spacing, pipe locations and pipe sizes. This information will be supplied by phone, fax or email.
											</p>
											<br>
											<%= link_to "contact_path", class: "btn btn-gray-transparent btn-sm btn-animated margin-clear" do %>
											Contact Us<i class="fa fa-arrow-right pl-10"></i>
											<% end %>
											<div class="pv-30 visible-lg" id="calculations"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="image-box style-4">
								<div class="row grid-space-0">
									<div class="col-md-6 col-md-push-6">
										<div class="overlay-container">
											<%= image_tag("services/calculations.jpg", alt: "Hydraulic Calculations") %>
											<div class="overlay-to-top">
												<p class="small margin-clear"><em>Calculations <br> Hydraulic Design Aid and Calculating Services</em></p>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-md-pull-6">
										<div class="body">
											<!-- <div class="pv-30 visible-lg"></div> -->
											<h3 class="text-right">Hydraulic Calculations</h3>
											<div class="separator-3"></div>
											<h6 class="margin-clear">Key Benefits:</h6>
											<ul>
												<li>Efficient pipe sizing.</li>
												<li>Plans are error checked for common code violations.</li>
												<li>Cost effective for the small contractor for whom purchase of HydraCALC doesn't make sense.</li>
											</ul>
											<h6 class="margin-clear text-right">Hydraulic Design Aid and Calculating Service</h6>
											<p class="with-tab text-right">This service is used by the sprinkler contractor to obtain complete hydraulic calculations of a sprinkler system for submittal to approval authorities. For this service the sprinkler contractor must supply two sets of prints or a tracing of the sprinkler system layout, along with the sprinkler requirements, water supply and any other necessary information. Before completing the sprinkler layout the sprinkler contractor may wish to use our Hydraulic Design Estimate Service for design layout recommendations.</p>
											<p class="with-tab text-right">Hydratec's designers will provide you with three sets of hydraulic calculations and return your drawing marked with hydraulic reference points and pipe sizes. While completing the hydraulic calculations, Hydratec's designers may also make piping or head spacing suggestions which may improve the sprinkler system design.</p>
											<br>
											<%= link_to "contact_path", class: "btn btn-gray-transparent btn-sm btn-animated margin-clear text-right" do %>
											Contact Us<i class="fa fa-arrow-right pl-10"></i>
											<% end %>
											<div class="pv-30 visible-lg" id="designlayout"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="image-box style-4">
								<div class="row grid-space-0">
									<div class="col-md-6">
										<div class="overlay-container">
											<%= image_tag("services/design_layout.jpg", alt: "Design Layout") %>
											<div class="overlay-to-top">
												<p class="small margin-clear"><em>Hydraulic Design Layout<br> Custom for each job.</em></p>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="body">
											<!-- <div class="pv-30 visible-lg"></div> -->
											<h3>Hydraulic Design Layout</h3>
											<div class="separator-3"></div>
											<h6 class="margin-clear">Key Benefits:</h6>
											<ul>
												<li>Accurate and complete installation plans.</li>
												<li>Discounts for CAD backgrounds.</li>
												<li>Cost effective for the small contractor for whom purchase of HydraCAD doesn't make sense.</li>
											</ul>
											<h6 class="margin-clear">Hydraulic Design Layout and Calculating Service</h6>
											<p class="with-tab">This service is used by the sprinkler contractor who wishes to have the entire sprinkler system designed and drawn by Hydratec, in order to obtain an economical sprinkler layout for a hydraulically calculated system. The contractor must supply Hydratec with a complete set of architect's plans and the information required for the Calculating Service. All obstructions to the piping system that are shown on the architect's plans will be accounted for in the sprinkler system layout.</p>
											<p class="with-tab">Hydratec's designers will provide you with a set of reproducible drawings which will show the entire sprinkler system and will be ready for underwriter approval. The layout will include all information necessary on working plans as required by NFPA 13. You will also be provided with three sets of hydraulic calculations. Disks with the drawing files can also be provided.</p>
											<p class="with-tab">For an additional fee Hydratec will make changes to the drawings and calculations required by field conditions, after the plans have been field checked by the sprinkler contractor.</p>
											<br>
											<%= link_to "contact_path", class: "btn btn-gray-transparent btn-sm btn-animated margin-clear" do %>
											Contact Us<i class="fa fa-arrow-right pl-10"></i>
											<% end %>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->