<section class="main-container">
  <div class="container">
    <div class="row">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Image:</strong>
        <%= @news.image %>
      </p>

      <p>
        <strong>Topic:</strong>
        <%= @news.topic %>
      </p>

      <p>
        <strong>Header:</strong>
        <%= @news.header %>
      </p>

      <p>
        <strong>Content:</strong>
        <%= markdown @news.content %>
      </p>

      <p>
        <strong>Link:</strong>
        <%= @news.link %>
      </p>

      <%= link_to 'Edit', edit_news_path(@news) %> |
      <%= link_to 'Back', news_index_path %>
    </div>
  </div>
</section>