<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @link.topic %>
</p>

<p>
  <strong>Header:</strong>
  <%= @link.header %>
</p>

<p>
  <strong>Content:</strong>
  <%= markdown @link.content %>
</p>

<p>
  <strong>Link:</strong>
  <%= @link.link %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
